.info-card {
    border: 2px solid red;
    padding: 20px;
    border-radius: 10px;
    background-color: #99999980;
}

.card-title {
    color: red;
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
}

.hobby-list {
    list-style-type: square;
    padding-left: 20px;
}

.hobby-list li {
    font-weight: bold;
}
